{% extends 'index.html' %}
{% load static %}
{% block content %}
{#    <body class="hold-transition sidebar-mini">#}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Text Editors</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Text Editors</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title">
                Edit your Activity
                <small>{{ activity.name }}</small>
              </h3>
              <!-- tools box -->
              <div class="card-tools">
                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                  <i class="fas fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pad">
              <div class="mb-3">
                  <div id="summernote">

                  </div>
                  <button id="submit" class="btn btn-info" >提交</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}

{% block script %}
<script>
  $(function () {
    // Summernote
    $('#summernote').summernote({
        height:600,
        callbacks: {
            onImageUpload: function(files, editor, welEditable) {

            console.log(123),
            sendFile(files[0], editor, welEditable);
            },
        }
        })
  })

function sendFile(file,editor,welEditable) {
    data = new FormData();
    data.append("file", file);
    data.append("csrfmiddlewaretoken",'{{ csrf_token  }}')
    $.ajax({
        data: data,
        type: "POST",
        url: "/activities/activity/{{ activity_id}}/upload",
        cache: false,
        contentType: false,
        processData: false,
        success: function(url) {
                console.log(welEditable,url)
                //$this.summernote('insertImage','/activities/activity/{{ activity_id}}/upload', function ($image) {
                  //                      });
                editor.insertImage(welEditable, url);
        }
    });
}





</script>
{% endblock script %}