<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="https://v3.bootcss.com/favicon.ico"-->
    <title>LuckySys</title>
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/bootstrap.js"%}"></script>
    <style type="text/css">
        body{background-color: #e8e8e8;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;}
        ul,li{ padding:0;margin:0;list-style:none}
          li {
              margin-top: 5px;
        }
    </style>
  </head>
{% block body %}
{% endblock %}
{% block page-modal %}
{% endblock %}

</html>